<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= stylesheets_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheets_link_tag 'blueprint/print', :media => 'print' %>
	</head>
	<body>

<%= yield %>

	</body>
</html>